<!DOCTYPE html>
<html lang="en">
<head>
	<title>DBX</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/ExampleClass/ExampleClass_main/resources/static/images/icons/favicon.ico"/>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/ExampleClass/ExampleClass_main/resources/static/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/ExampleClass/ExampleClass_main/resources/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/ExampleClass/ExampleClass_main/resources/static/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/ExampleClass/ExampleClass_main/resources/static/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/ExampleClass/ExampleClass_main/resources/static/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/ExampleClass/ExampleClass_main/resources/static/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/ExampleClass/ExampleClass_main/resources/static/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/ExampleClass/ExampleClass_main/resources/static/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/ExampleClass/ExampleClass_main/resources/static/css/util.css">
	<link rel="stylesheet" type="text/css" href="/ExampleClass/ExampleClass_main/resources/static/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!--===============================================================================================-->


</head>
<body>

<div class="limiter">
	<div class="container-login100" style="background-image: url('/ExampleClass/ExampleClass_main/resources/static/images/bg-01.jpg');">
		<div class="wrap-login50">
			<form class="login100-form validate-form">


					<span class="login100-form-title p-b-34 p-t-27">
						Log in
					</span>

				<div class="wrap-input100 validate-input" data-validate = "Enter username">
					<input class="input100" type="text" name="username" placeholder="Username">
					<span class="focus-input100" data-placeholder="&#xf207;"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Enter password">
					<input class="input100" type="password" name="pass" placeholder="Password">
					<span class="focus-input100" data-placeholder="&#xf191;"></span>
				</div>


				<div class="container-login100-form-btn">
					<button class="login100-form-btn" id="btnId">
						Login
					</button>
				</div>



				<div class="col-sm-7" id="postResultDiv">
				</div>
			</form>
			<p id="nalayak"> </p>
		</div>
	</div>
</div>


<div id="dropDownSelect1"></div>
<div id="div1"><h2>Let jQuery AJAX Change This Text</h2></div>
<!--===============================================================================================-->
<!-- <script src="/ExampleClass/ExampleClass_main/resources/static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->

<!--===============================================================================================-->
<script>window.jQuery || document.write('<script src="/ExampleClass/ExampleClass_main/resources/static/js/main.js"><\/script>')</script>
<!-- <script src="/ExampleClass/ExampleClass_main/resources/static/js/main.js"></script> -->

</body>
</html>