<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

<form id="hi">


    <input type="submit" name="submit" value="submit">
    <div id="div1"><h2>Let jQuery AJAX Change This Text</h2></div>


    <script>window.jQuery || document.write('<script src="/ExampleClass/ExampleClass_main/resources/static/js/main.js"><\/script>')</script>
</form>
</body>
</html>